.card {
  border: 2px solid #0512ffb8;
  border-radius: 8px;
  background-color: rgb(20, 137, 196);
  padding: 16px;
  margin: 16px;
  box-shadow: 2px 2px 12px rgb(19, 108, 211);
}
.card h1 {
  margin-top: 0;
  color: #0b3d91;
}
.card:hover {
  box-shadow: 4px 4px 16px rgb(218, 11, 11);
  transform: translateY(-4px);
  transition: all 0.3s ease;
}
#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  border-image: round rgb(12, 110, 189) 30;
  border-image-source: -moz-radial-gradient();
}
.bt{
  background-color: #bc0992ba;
  color: rgb(245, 235, 235);
  padding: 20px 20px;
  border: none;
  border-radius: 33px;
  cursor: pointer;
  font-size: 18px;
}
.bt:hover {
  background-color: 
  #2b0bfc;
  color: rgb(249, 248, 255);
  transition: background-color 0.3s ease;
  transform: translateY(5px);
}
.gallery img:hover {
  width: 300px;

  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.ra{
  background-color: #1b0115;
  color: rgb(245, 235, 235);
  padding: 10px 16px;
  border-radius: 6px;
  text-decoration: none;
}
.ra:hover {
  background-color: 
  #2b0bfc;
  color: rgb(249, 248, 255);
  transition: background-color 0.3s ease;
  transform: translateY(5px);
}

img.the{
  animation: moveImages 3s ease-out ;

}
img.the:hover{
  
  cursor:pointer;
 
}
.circle{
  position: relative;
  width: 400px;
  
  align-items: right;
  height: 300px;
  margin: 180px auto;
  border-radius: 50%;
  
}
.the{
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius:20% ;
  object-fit: cover;
}
.the:nth-child(1){ transform:rotate(0deg) translate(100px,100px) rotate(0deg);}
.the:nth-child(2){ transform:rotate(90deg) translate(100px,100px) rotate(-90deg);}
.the:nth-child(3){ transform:rotate(180deg) translate(100px,100px) rotate(-180deg);}
.the:nth-child(4){ transform:rotate(270deg) translate(100px,100px) rotate(-270deg);}
@keyframes moveImages {
  0%{
    transform:rotateY(0deg);

  }
  0%{
    transform:rotateX(360deg);
  }
}

